@import "bootstrap";

//table {
//  border: 1px solid black;
//  border-spacing: 0px;
//  padding: 0px;
//}
//
//th, tr, td {
//  border: 1px solid gray;
//  border-spacing: 0px;
//  padding: 3px;
//  text-align: right;
//}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
